@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Additional Base Styles */
@layer base {

  /* Text Selection */
  ::selection {
    color: black;
    background-color: #00ffff;
  }

  /* Headers */
  h1, h2, h3, h4, h5, h6 {
    @apply break-words;
  }
  h1 {
    @apply text-6xl font-semibold py-2;
  }
  h2 {
    @apply text-4xl font-semibold py-8;
  }
  h3 {
    @apply text-3xl font-semibold py-8;
  }
  h4 {
    @apply text-2xl font-semibold py-8;
  }
  h5 {
    @apply text-xl font-semibold py-8;
  }

  a, a:visited {
    text-decoration: underline;
    @apply bg-white;
    @apply decoration-2 underline-offset-2;
    @apply decoration-black;
    @apply break-words;
    cursor: pointer;
  }
  a:hover {
    color: #00f;
    @apply no-underline;
  }
  a:active {
    color: #fff;
    background: #00f;
    @apply no-underline;
  }

  #content {
    @apply px-2 sm:px-4 md:px-8;
    @apply font-medium text-xl;
    @apply grid grid-cols-1 md:grid-cols-2 gap-8;
  }
  #normal {
    @apply px-8 md:px-24 lg:px-48;
    @apply font-medium text-xl;
  }
  #content p, #normal p {
    @apply mb-5;
  }

  #content li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1em;
  }

  #content pre { /* seminar2022 */
    @apply bg-gradient-to-b from-white;
    @apply p-4;
    @apply italic;
  }

  #content blockquote {
    @apply text-3xl text-slate-500;
    @apply italic;
    @apply p-0 m-0;
  }

  #content cite {
    @apply text-lg text-slate-700;
    @apply italic;
    @apply p-0 m-0;
  }

  .menu {
    @apply p-1 md:p-8;
    @apply font-medium text-2xl;
    @apply md:flex md:justify-between;
    @apply bg-gradient-to-b from-white to-transparent;
  }
  .menu > div {
    @apply sm:py-1 p-0;
    @apply text-center;
  }
  .menu a {
    @apply block lg:inline;
    @apply p-2 m-1 md:p-0;
  }
  .menu-bottom {
    @apply bg-gradient-to-b from-transparent to-white;
  }

  table.schedule {
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid black;
    border-collapse: collapse;
  }
  tr, td {
    border: 1px solid black;
    padding: 0.25em;
  }

  .bild {
    /* @apply w-1/2; */
    @apply w-full;
    @apply grayscale hover:grayscale-0;
  }

  .autoren {
    @apply font-medium text-6xl text-center;
    @apply grid gap-4 grid-cols-1;
  }

}
