
body {
	color: #333;
/*	font-family: "museo-1","museo-2",serif; */
/*	font: 13px/20px "museo-sans-1","museo-sans-2",sans-serif; */
font: 13px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
/*	font: 13px/18px "museo-sans-rounded-1","museo-sans-rounded-2",sans-serif; */
  	font-weight: 300;
	text-align: center;
	padding: 0 5px;
	margin: 0;
	
}

a:link, a:visited {
	color: #2599BF;
	text-decoration:none;
}
a:hover {
	color: #2082a3;
}
a:hover, a:active {
	color: #1A6A85;
}


.page {
	width: 960px;
	margin: 0 auto; 
	text-align: left;
}


/* @group header */
.header {
	position: relative;	
	height: 150px;	
	color: #555;
	line-height: 1.5em;
	margin-top: 20px;
}

.header #logo {
	margin-top: 5px;
}

.header .box1, .header .box {
	float: left;
	width: 140px;
	height: 100px;
	padding: 5px;
	margin: 5px;
}

.header .dark {
	background: #1A6A85;
	color: #fff;
	border-radius: 10px;
}


.header .light {
	background: #2599BF;
	color: #fff;
	border-radius: 10px;
}

.header .box2 {
	float: left;
	width: 290px;
	height: 100px;
	padding: 5px;
	margin: 5px;
}

.header .box3 {
	float: left;
	width: 460px;
	height: 100px;
	padding: 5px;
	margin: 5px;
}

.header .emphasis {
	margin-top: -10px;
	border-top: 13px solid #119DC7;	
}

.header .logo {
	background: #fff;
	float: left;
	width: 460px;
	margin: 3px 5px 0 5px;
	padding: 4px 5px 5px 5px;
}



.header a:link, .header a:visited, .sidecolumn .schedule a:link, .sidecolumn a:visited {
	font-weight: bold;
	padding: 1px 5px;
	border-radius: 10px;
	margin-left: -5px;
}

.header a:hover, .sidecolumn .schedule a:hover {
	color: #fff;
	background: #2082a3;
}
.header a:active, .sidecolumn .schedule a:active {
	color: #fff;
	background: #1A6A85;
}




.header .light a:link, .header .light a:visited {
	color: #fff;
	font-weight: normal;
	margin-left: 5px;
}
.header .light a:hover {
	color: #2599BF;
	background: #fff;
	margin-left: 0px;
	padding: 1px 5px;
	border-radius: 10px;
}
.header .light a:active {
	color: #fff;
	background: #1A6A85;
}

.header #archive {
	float: right;
	border-color: transparent #1A6A85 transparent transparent;
	border-style: solid;
	border-width: 10px;
	width:0;
	height:0;
	margin-right: -15px;
}


.header .dark a:link, .header .dark a:visited {
	color: #fff;
	font-weight: normal;
	margin-left: 5px;
}
.header .dark a:hover {
	color: #1A6A85;
	background: #fff;
	margin-left: 0px;
	padding: 1px 5px;
	border-radius: 10px;
}
.header .dark a:active {
	color: #fff;
	background: #1A6A85;
}



/*
06799F
1A6A85
035D7B
2599BF
3E9FBF
*/


.activestar {
	position: absolute;
	width: 11px;
	height: 10px;
	display: inline;
}

.activestar {
	background: url("../images/star_bow.png") no-repeat 0 0;
}






/* @group article */
.articlecolumn {
	position: relative;
	float: left;
	width: 450px;
	min-height: 600px;
	padding: 5px;
	margin: 0 5px 20px 5px;
}

.articlecolumn.inhaltsverzeichnis {
	width: 900px;
}

.articlecolumn#bilder {
	width: 900px;
	
}


.articlecolumn p {
	margin-bottom: 1em;
}


.sidecolumn {
	position: relative;
	float: left;
	width: 460px;
	min-height: 600px;
	padding: 5px;
	margin: 10em 5px 20px 5px;
}


.x6l {
	float: left;
	width: 220px;
	min-height: 166px;
	margin-right: 5px;
	margin-bottom: 10px;
	background-color: #4ac;
	padding: 5px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6cf), to(#4ac));
	
}
.x6r {
	float: left;
	width: 220px;
	min-height: 166px;
	padding: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
	background: #6cf;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6cf), to(#fff));
}

/*
06799F
1A6A85
035D7B
2599BF
3E9FBF
*/
.x3, .programm {
	position: relative;
	float: left;
	width: 430px;
	min-height: 400px;
	padding: 10px;
	margin-bottom: 10px;
	background: #fff;
	color: #000;
	margin-top: 10px;
	border-radius: 10px;
}

.caption {
	position: absolute;
	background: #fff;
	right: 0;
	bottom: 0;
	padding: 0.5em 1.5em;
	font-size: 10px;
	
}

.articlehead {
	font-size: 24px;
	min-height: 108px;
	padding-bottom: 1em;
	color: #1A6A85;
	font-weight: 700;
	line-height: 1.2em;
}

.articlehead .vortragender {
	color: #999;
}



/*
.articlehead .vortragender:hover {
	color: #fff;
	background: #ddd;
}
*/

/* Ankündigungen, News */

.newscolumn {
	position: relative;
	float: left;
	width: 610px;
	min-height: 600px;
	padding: 5px;
	margin: 0 5px 20px 5px;	
}

.newscolumn p {
	margin-bottom: 1em;
}

.newsitem {
	margin: 0 0 4em 0;
}

.newsitem h3 {
	font-size: 30px;
	font-weight: bold;
	color: #2599BF;
	margin: 0 0 0.5em 0;
	line-height: 1em;
}

.subheader, .articlecolumn h3 {
	font-size: 20px;
	font-weight: bold;
	color: #1A6A85;
	margin: 1em 0 0.5em 0;
}

.articlecolumn h4 {
	font-size: 16px;
	font-weight: bold;
	color: #1A6A85;
	margin: 1em 0 0.5em 0;
}

.articlecolumn h5 {
	font-size: 14px;
	font-weight: bold;
	color: #1A6A85;
	margin: 1em 0 0.5em 0;
}

.articlecolumn h6 {
	font-weight: bold;
	color: #1A6A85;
	margin: 1em 0 0.5em 0;
}



.quote {
	padding: 1em 1em 1em 2em;
	color: #666;
	background: url('../images/quotation/gray-single.png') 0px 0px no-repeat;
	margin: 0.5em 0;
}
.quote.blue {
	background: url('../images/quotation/blue-single.png') 0px 0px no-repeat;
}
.quote.grey {
	border-radius: 1em;
}

.grey {
	background-color: #eee;
}
.quote.top { 	/* more space */
	margin-top: 1em;
}



.rightcolumn img {
	margin: 0 0 10px 0;
}
.image2c {
	position: relative;
	width: 470px;
}
.singlecolumn {
	position: relative;
	float: left;
	width: 240px;
	background: #f00;
}


.footer {
	position: relative;
	float: left;
	width: 960px;
	height: 77px;
	padding: 0 0 0 10px;
}
.footersupported {
	position: absolute;
	width: 230px;
	padding: 5px 0 0 0;
	color: #575757;
	font-size: 11px;
	border-top: 1px solid #808080;
}
#onred .footersupported {
	color: #500f0f;
	border-top-color: #751919;
}
.aa {
	position: absolute;
	left: 80px;
	top: 10px;
	width: 111px;
	height: 60px;
	background: url("../images/aa.png") no-repeat 0 0;
}
#onred .aa {
	background: url("../images/aa_r.png") no-repeat 0 0;
}
.footerdisclaimer {
	position: absolute;
	left: 490px;
	width: 470px;
	padding: 5px 0 0 0;
	color: #ABABAB;
	font-size: 11px;
	border-top: 1px solid #BFBFBF;
}
#onred .footerdisclaimer {
	color: #9c2221;
	border-top-color: #9d2222;
}
#onred .footer a:link, #onred .footer a:visited {
	color: #500f0f;
	text-decoration: none;
}
#onred .footer a:hover, #onred .footer a:active {
	color: #FFF;
	text-decoration: none;
}
.footer a:link,.footer a:visited {
	color: #575757;
	text-decoration: none;
}
.footer a:hover, .footer a:active {
	color: #000;
	text-decoration: none;
}

/* @end */






.bild {
	position: relative;
 	width: 100%; /* for IE 6 */
}

.bild img, .archive img {
/* 	background: #1A6A85; */
	background: #3E9FBF;
	border-radius: 10px;
}

.articlecolumn .bild {
	margin: 1em 0 2em 0;
}
.bild.rechts {
	position: absolute;
	float: right;
	margin-left: 235px;
}

.bilduberschrift {
	font: bold 14px/28px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #1A6A85;
	padding: 5px;
	float: left;
	margin-left: 0px;
}

.bildunterschrift {
	font: bold 10px/14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #aaa;
	padding: 5px;
	float: right;
	margin-right: 10px;
}


.quelle {
	font-style: italic;
}

.unterstutzung {
	padding-top: 1em;
	margin-top: 8em;
	padding-bottom: 8em;
	font: 11px/15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #666;
	border-top: 1px #666 solid;
	width: 450px;
}

.articlecolumn ul {
	margin-left: 1em;
	list-style: disc;
}




/* Schedule Table */
table tr td {
	padding: 2px 8px;
}
.schedule {
	margin-left: 0px;
	width: 100%;
	color: #888;
}

.schedule-time {
	color:#888;
	padding-right: 10px;
}
.schedule-header {
	font-weight: bold;
	padding-top: 10px;
}
.schedule-alt {
	border-radius: 10px;
	background: #f6f6f6;
}



.video {
	margin-bottom: 3em;
	border-radius: 10px;
}

.video > iframe {
	border-radius: 10px;
}

.zugang {
	margin-top: 0.5em;
}
.gray {
	font-style: italic;
	color: #ccc;
}


a#current { /* highlight current page link */
	color: #fff;
	background: #2599BF;
}


table.archive { 	/* for Archiv page only */
	width: 960px;
	margin-left: -10px;
}

table.archive td { 	/* for Archiv page only */
	padding-bottom: 7px;
}

table.archive .authorname {
	background: rgba(255, 255, 255, 1);
	padding: 2px 5px;
	border-radius: 10px;
}
/*
table.archive a {
	
	background: #f
	-webkit-transition: background;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 300ms;
	
}
table.archive a:hover {
	
	background: #3E9FBF
	-webkit-transition: background;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 300ms;
	
}
*/
table.archive img {
	background: none;
}


/*
2082a3
	font: bold 9px/11px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: inline;
	position: absolute;
	background: rgba(255, 255, 255, 0.4);
	bottom: 5px;
	right: 240px;
	padding: 2px 5px;
	border-radius: 10px;
}
*/


.header > a > .box:hover, .sidecolumn .bild img:hover, table.archive img:hover {
	background: #2082a3;
}

.header > a > .box:active, .sidecolumn .bild img:active, table.archive img:active {
	background: #1A6A85;
}


.footer #autoren a {
	opacity: 0.3;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 300ms;

}

.footer #autoren a:hover {
	opacity: 1.0;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 300ms;
}


.wpcf7-list-item {
	display: block;
	margin-bottom: 1em;
}

#links a {
	font-weight: bold;
}

#social {
	position: relative;
	float: left;
	width: 460px;
	padding: 5px;
	margin: 2em 5px 20px 5px;
}

#social .g-plusone {
}

#social .fb-like {
}