html {
  background: #fff;
  color: #333;
  font-size: 2vh;
  font-family: neue-haas-grotesk-text, 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

/* general */
body {

}
header {
  padding-bottom: 2em;
  font-size: 1.5em;
}


.menu {
  font-size: 0.75em;
  font-weight: 500;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; /* Can be changed in the live sample */

}
.menu a {
  margin-bottom: 0.75em;
  content: "a";
}

.page header #title {
  font-size: 2em;
  padding-top: 0.5em;
}

.page header #title_jp {
  /* writing-mode: vertical-rl; */
}





h1 {
  font-size: 3em;
  font-weight: 500;
  text-align: center;
}

.body {
  font-size: 2em;
}

.body.text {
  font-size: 1.25em;
  font-weight: 500;
}

.archiv.body a {
  display: block;

}

.archiv {
  font-size: 2.5em;
  text-align: center;
}

.teilnehmer.body {
  font-size: 1.75em;
  display: inline;
}







.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.gray {
  color: #666;
}

a, a:visited {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #33f;
  text-decoration: underline;
}
a:active {
  color: #fff;
  background: #33f;
  text-decoration: none;
}
/*
#title a {
  color: #33f;
  text-decoration: underline;
}
#title a:hover {
  color: #33f;
  text-decoration: underline;
}
#title a:active {
  color: #fff;
  background: #33f;
  text-decoration: underline;
}
*/

sup {
  color: #33f;
  font-weight: 700;
}
.sel {
  color: white;
  background: #00f;

}
/*
::selection {
  color: white;
  background: linear-gradient(#aaa, #ccc);
}
*/

::selection {
  color: black;
  background: #ff0;
}

footer {
  margin-top: 5em;
  font-size: 1.5em;
}

footer #copyright {
  text-align: center;
}

select {
  border: none;
  color:  #33f;
  text-decoration: underline;
  font-weight: 500;
}

.select {
  border: none;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .column:first-child {
  float: left;
  width: 50%;
  padding-right: 1em;
}

.row .column:last-child {
  float: left;
  width: 50%;
  padding-left: 1em;
}


.schedule:after {
  content: "";
  display: table;
  clear: both;
}

.schedule .column {
  float: left;
  width: auto;
  padding-right: 2em;

}


.byline {
  font-size: 0.75em;
  font-weight: 400;
  text-align: right;
  padding-bottom: 1em;
}

table {
  width: 100%;
  font-size: 1.25em;
  font-weight: 500;
  border: 1px solid black;
  border-collapse: collapse;
}
tr, td {
  border: 1px solid black;
  padding: 0.25em;
}
.center {
  text-align: center;
}



#yearselect {
  font-size: 1.5em;
}
